{% extends 'layout/base.html' %}

{% block title %}Gio hang{% endblock %}

{% block content %}
<h2 class="text-center text-danger">GIO HANG</h2>
{% if session['cart'] %}
<table class="table table-hover">
    <thead>
      <tr>
        <th>id</th>
        <th>Ten san pham</th>
        <th>Gia</th>
        <th>So luong</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for c in session['cart'].values() %}
      <tr id="product-{{ c.id }}">
        <td>{{ c.id }}</td>
        <td>{{ c.name }}</td>
        <td>{{ c.price }}</td>
        <td>
            <div class="form-group">
                <input type="number" min="1" class="form-control" value="{{ c.quantity }}" onblur="updateCart({{ c.id }}, this)"/>
            </div>
        </td>
        <td>
            <div>
                <input type="button" class="btn btn-danger" value="Xoa" onclick="deleteProductInCart({{ c.id }})" />
            </div>
        </td>
      </tr>
      {% endfor %}
    </tbody>
</table>
<div class="alert alert-info">
    <h5>Tong so luong san pham: <span class="cart-counter">{{cartStat.total_quantity}}</span></h5>
    <h5>Tong gia: <span id="total-amount">{{"{:,.1f}".format(cartStat.total_amount)}} VND</span></h5>
</div>

{% if current_user.is_authenticated %}
<input type="button" class="btn btn-success" value="Thanh toan" onclick="pay()"/>
{% else %}
<!-- next: giup sau khi dang nhap no se quay ve trang cart -->
<a href="{{url_for('user_signin', next='cart')}}">Vui long dang nhap de thanh toan...</a>
{% endif %}

<br/>
{% else %}
<p><i>Khong co san pham trong gio hang!!!</i></p>
{% endif %}
<br/>
{% endblock %}