<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List Product</title>
    <link href="{{url_for('static', filename='css/style.css')}}" rel="stylesheet">
</head>
<body>
<div class="container">
    <h1 class="subject">DANH MUC TAT CA SAN PHAM</h1>
    <hr>
    <form>
        <input type="text" name="keyword" placeholder="Nhap tu khoa muon tim...">
        <input type="number" name="from_price" placeholder="Nhap gia tri bat dau...">
        <input type="number" name="to_price" placeholder="Nhap gia tri ket thuc...">
        <input type="submit" value="Tim kiem">
    </form>
    <hr>
    <table border="1" class="product">
      <tr>
        <th></th>
        <th>MA SAN PHAM</th>
        <th>TEN SAN PHAM</th>
        <th>MO TA</th>
        <th>GIA CA</th>
      </tr>
      {% for p in listP %}
      <tr>
        <td>
            <a href="{{url_for('productDetail', product_id=p.id)}}">
                <img src="{{ url_for('static', filename=p.image) }}" width="120" alt="{{ p.name }}">
            </a>
        </td>
        <td>{{ p.id }}</td>
        <td>{{ p.name }}</td>
        <td>{{ p.description }}</td>
        <td>{{ "{:,.1f}".format(p.price) }} VND</td>
      </tr>
      {% endfor %}
    </table>
</div>
</body>
</html>